.vertical-center {
  height: 20px;
  line-height: 20px;
}
.ln {
  line-height: 20px;
}
.myinput {
  background-color: #35e4e4;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}
.myinput:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}
.myinput {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: min-content;
}
.mytextarea {
  background-color: #35e4e4;
  overflow: hidden;
  width: 100%;
  resize: none;
  height: 10vh;
}
.contact {
  background-color: #35e4e4;
}

.mywarning {
  color: red;
  font-size: xx-small;
}
