.mynav {
  background-color: #8c4451;
  /* background-color: black; */
}

.mynav-logo {
  height: 4%;
  width: 4%;
}

.mynav-link {
  text-decoration: none;
  color: #35e4e4;
}

.mynav-link:hover {
  background-color: black;
  color: white;
  border-radius: 10%;
}

.active {
  border-bottom: 5px solid #35e4e4;
}

.mynav-link .active:hover {
  background-color: white;
}
